body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
}
div {
	padding-bottom: 0;
}
.symu	{
	background-color: #000000;
}
.set {
	background-color:#0e1a35;
	max-width: 2000px;
	margin: 0 auto;
	position: relative;
}
.setq {
	background-image: url(img/Grid.png);
		max-width: 2000px;
		background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 160px;
	padding-right: 150px;
	padding-top: 67px;
	max-width: 1690px;
	margin: 0 auto;
	position: relative;
	background-color:#0e1a35;
}
.header>a {
	display: flex;
	justify-content: flex-start;
}
.nav {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 0;
	padding-top: 6px;
}
.nav1 {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	font-weight: 400;
	font-size: 18px;
	margin: 0 auto;
}
.logo {
	align-self: flex-start;
}
.nav>li {
	position: relative;

}
.white {margin-left: 25px;
	padding-left: 25px;
	color: #ffffff;
	text-decoration: none;
}
.blue { background-image: url(img/Rounded.png);
	background-repeat: no-repeat;
	margin-left: 45px;
	padding:15px 45px 24px 45px;
	color: #5584ff;
	text-decoration: none;
}
.home { 
	margin: 0 auto;
	max-width: 2000px;
	position: relative;

}
.round {
	background-image: url(img/Graph.png);
	background-position: -70px 50px;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
	
}
.round>p{
	margin: 0 auto;
	text-align: center;
}
.h2 {
	font-family: Myriad Pro;
	color: #ffffff;
	font-weight: 400;
	font-size: 55.5px;
	padding-top: 120px;
}
.h3 {
	font-family: Myriad Pro;
	color: #8492af;
	font-weight: 400;
	font-size: 36px;
	padding-top: 35px;

}
.h4 {
	padding: 97px 0 20px 0;


}
.img { 
		padding: 14px 63px 14px 63px;
	position: relative;
	background-image: url(img/Roundedtwo.png);
	background-repeat: no-repeat;
	font-family: Myriad Pro;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
}
.hh1>img {
	padding-top: 88px;
	padding-bottom: 0;
	margin-bottom: 0;
	position: relative;
	 }
.icon {
	max-width: 2000px;
	margin: 0 auto;

}
.hh2 {
position: relative;
padding: 0;
margin: 0 auto;
	text-align: center;
	padding-right: 1.2px;
	margin-bottom: 127px;
}
.iconn {
 display: flex;
	justify-content: space-between;
	max-width: 1500px;
	margin: 0 auto;
	background-image: url(img/lines.png);
	background-repeat: no-repeat;
	background-position: 390px 37px;
	position: relative;

}

.icon-item {
	box-sizing: content-box;
	margin: 0 auto;
}
.icon-item1 {
	box-sizing: content-box;
	margin: 0 auto;
}
.icon-item2 {
	box-sizing: content-box;
	margin: 0 auto;
}

.h5 {
	color: #0e1a35;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
}
.h6 {
	font-family: Myriad Pro;
	color: #8492af;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	max-width: 360px;
	padding-top: 27px;
	margin: 0 auto;
}
.h7 {
	position: relative;
	padding-bottom: 28px;
	padding-top: 71px;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}
.h7>a {
	background-image: url(img/Roundedthree.png);
	background-repeat: no-repeat;
	padding: 16px 86px;
	text-decoration: none;
	color: #1e2942;
}
.hh3{
	position: relative;
padding: 0;
margin: 0 auto;
	text-align: center;
}
.one {
	margin-bottom: 70px;
}
.two {
	margin-bottom: 59px;
}
.three {
	margin-bottom: 66px;
}
.browser {
	margin: 0 auto;
	max-width: 2000px;
	position: relative;
	background-image: url(img/All.png);
	background-repeat: no-repeat;
	padding-left: 250px;
	background-position: center center;
}
.h8{
	color: #0e1a35;
	font-weight: 100;
	font-size: 60px;
	padding-bottom: 20px;
	margin: 0 0;
	padding-top: 260px;
}
.h9 {
	color: #8492af;
	max-width: 578px;
	font-weight: 400;
	line-height: 30px;
	font-size: 18px;
	margin: 0;
	padding-top: 40px;

}
.loremone {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 430px;
	padding-top: 65px;
}
.loremtwo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 418px;
	padding-top: 30px;
	padding-bottom: 227px;
}
.h10 {
	color: #5584ff;
	font-weight: 400;
	font-size: 22px;
	margin: 0;
	text-align: left;
}
.ok {
	text-align: left;
	position: relative;
	max-width: 50px;
	margin: 0;
}
.box {
	background-image: url(img/Drop.png);
	background-color: #0e1a35;
	max-width: 1525px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 160px 330px 125px 145px;
}
.box1 { display: flex;
justify-content: flex-start;
max-width: 1006px; }
 .progr-one {
 	display: flex;
	justify-content: flex-start;
 }
.compl {
	padding-right:145px;
}
 .compl1 {
 	display: flex;
	justify-content: flex-start;
	padding-bottom: 37px;
 }
 .hand {
 	margin:0;
 }
.done {
	margin:0;
}
.drop {
	min-width: 500;
}
.inprogr {
	 margin:0;
	 padding-bottom: 10px;
}
 .progrr {
 	display: flex;
	justify-content: space-between;
	padding-bottom: 37px;
 }
 .ar {
 	margin: 0;
 	padding-top: 7px;
 	padding-right: 62px;
 }
.arrows {
	display: flex;
	justify-content: flex-start;
	padding-top:12px;
}
.left {
	padding-right: 19px; 
}
.h11 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding-bottom: 48px;
	padding-top: 47px;
		min-width: 440px;


}

.h12 {
	color: #677491;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	max-width: 510px;
	margin: 0;
	padding-bottom: 43px;
	min-width: 440px;

}

.h13 {
	color: #ffffff;
	font-size: 30.59px;
	font-weight: 500;
	margin: 0;
	min-width: 330px;
	}

.h14 {
	color: #7d8ba8;
	font-size: 30.59px;
	font-weight: 500;
	margin: 0;
	padding-left: 13px;
	}

.h15 {
	color: #8492af;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	border: 1px #8492af;
	padding:37px 144px 46px 158px;
	border-style: dashed;
	min-width: 100px;
	}

	.template {
		background-image: url(img/Powerfull.png);
		background-repeat: no-repeat;
		margin: 0 auto;
		max-width: 2000px;
	}
	.h16 {
		color: #1c2741;
		font-weight: 100;
		font-size: 60px;
		margin: 0 auto;
		text-align: center;
		padding-top: 90px;
		padding-bottom: 60px;
	}
	.h17 {
		color: #8492af;
		font-weight: 300;
		font-size: 18px;
		margin: 0;
		max-width: 240px;
		padding-left: 305px;
		padding-bottom: 172px;
	}
	.h18 {color: #0e1a35;
		font-weight: 700;
		font-size: 24px;
		margin: 0;
		padding-bottom: 25px;
		padding-left: 305px;
}
	.hh17 {
		color: #8492af;
		font-weight: 300;
		font-size: 18px;
		margin: 0 auto;
		text-align: center;
		max-width: 1000px;
		padding-bottom: 170px;
	}
	.hhh17 {м
		color: #8492af;
		font-weight: 300;
		font-size: 18px;
		margin: 0;
		max-width: 240px;
		padding-bottom:250px;
		padding-left: 1485px;
	}
	.hh18 {color: #0e1a35;
		font-weight: 700;
		font-size: 24px;
		margin: 0;
		padding-left: 1487px;
		padding-bottom: 33px;
}

.pricing {
	margin:0 auto;
	max-width: 2000px;
}
.plan {
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	max-width: 1483px;
	padding-bottom: 110px;

}
.price {
	display: flex;
 justify-content: center;
}
.dolorone {
	display: flex;
 justify-content: center;
 padding-right: 58px;
 padding-left: 54px;
 padding-bottom: 18px;
}
.dolortwo {
	display: flex;
 justify-content: center;
  padding-bottom: 18px;
}
.dolorthree {
	display: flex;
 justify-content: center;
  padding-bottom: 18px;
}
.dolorfour {
	display: flex;
 justify-content: center;
  padding-bottom: 40px;
}
.bronze {
box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08);
max-width: 360px;
}  
.silver {
box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08)
} 
.gold{
box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08)	
}
.h20 {
	font-size: 60px;
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
	color: #0e1a35;
	padding-bottom: 100px;
}
.h200 {
	font-size: 24px;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
	color: #0e1a35;
	padding-top: 43px;
	padding-bottom: 40px;
}
.h21 {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: #0e1a35;
	padding-top: 26px;
}
.h22 {
	font-size: 72px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	color: #0e1a35;
	padding-bottom: 40px;
}
.h23 {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
	text-align: center;
	color: #a3adc3;
	padding-top: 42px;
}
.h24 {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	text-align: center;
	color: #a3adc3;
	padding-left: 15px;
	padding-top: 2px; 
}
.h25 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	color: #a3adc3;
	padding-bottom: 90px;
	max-width: 880px;
}
.h26 {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	text-align: center;
	padding-bottom: 105px;
	/*background-image: url(img/Linestwo.png);
	background-repeat: no-repeat;
	background-position:  640px 10px;*/
}
.h27 {
	background-image: url(img/Roundedt.png);
	background-repeat: no-repeat;
	padding: 14px 60px 14px 60px;
	text-decoration: none;
	color: #fff;
}
.h26::after {
	content: '';
	width: 226px;
	height: 1px;
	border-radius: 10%;
	background-color: #dadee7;
	display: inline-block;
	margin: 0px 0px 6px 30px;
	max-width: 226px;
}
.h26::before {
	content: '';
	width: 226px;
	height: 1px;
	border-radius: 10%;
	background-color: #dadee7;
	display: inline-block;
	margin: 0 30px 6px 0 ;
	max-width: 226px;
}
.h28 { 
	margin: 0;
}
.footer {
			margin: 0 auto;
		max-width: 2000px;
		background-color: #0e1a35;
		display: flex;
		justify-content: space-between;
		padding-top: 65px;
		padding-bottom: 65px;

	}


	.h19 {
		color: #677491;
		font-weight: 400;
		font-size: 18;
		margin:0;
		padding-left: 313px;
		min-width: 252px;
	}
	.fot{
		display: flex;
		justify-content: flex-end;
		padding-right: 150px;
	}
	.nav{margin:0;
		text-decoration: none;
		padding-top: 0;
	}
	.nav>li>a {
		color: #677491;
		font-weight: 400;
		font-size: 18;
		text-decoration: none;
		padding-right: 25px;

	}
	.nav1>li>a {
		color: #677491;
		font-weight: 400;
		font-size: 18;
		text-decoration: none;
		padding-right: 25px;

	}
	.cont {
		display: flex;
		justify-content: center;
	}
	.h29 {
		padding-right: 10px;
		padding-left: 10px;
		margin:0;
	}

@media (max-width: 1720px){
.wrapper {
	max-width: 1700px;
}
.template {
    background-image: url(img/pow.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 2000px;
}
.hh18 {
    color: #0e1a35;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding-left: 215px;
    padding-bottom: 36px;
}
.hhh17 {
    color: #8492af;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    max-width: 240px;
    padding-bottom: 250px;
    padding-left: 215px;
}
.browser {
    margin: 0 auto;
    max-width: 2000px;
    position: relative;
    background-image: url(img/alll1.png);
    background-repeat: no-repeat;
    padding-left: 250px;
    background-position: center center;
}
.box {
    flex-direction: column;
}
/*.compl {
    padding-right: 757px;
}*/

.progrr {
	flex-wrap: nowrap;
    position: relative;
}
.h19 {
		color: #677491;
		font-weight: 400;
		font-size: 18;
		margin:0;
		padding-left: 200px;
		min-width: 252px;
	}
	.iconn {
    background-image: none;
}
}
@media (max-width: 1200px){
.nav>li>a {
    color: #677491;
    font-weight: 400;
    font-size: 18;
    text-decoration: none;
    padding-right: 0px;
    
}
.nav>li {
	margin-bottom: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 150px;
    padding-top: 67px;
    max-width: 1690px;
    margin: 0 auto;
    position: relative;
    background-color: #0e1a35;
}
.white {margin-right: 0px;
	padding-left: 25px;
	color: #ffffff;
	text-decoration: none;
}
.blue { background-image: url(img/Rounded.png);
	background-repeat: no-repeat;
	margin-left: 8px;

	padding:15px 45px 24px 45px;
	color: #5584ff;
	text-decoration: none;
}
.nav {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 6px;
    flex-wrap: wrap;
}
	.h19 {
		padding-left: 100px;

	}
	.iconn {
    display: flex;
    justify-content: space-between;
 flex-direction: column;

}
.icon-item {
	box-sizing: content-box;
	margin: 0 auto;
	box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08);
	padding:20px 20px 20px 20px;
	margin-bottom: 30px;
}
.icon-item1 {
	box-sizing: content-box;
	margin: 0 auto;
	box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08);
	padding:20px 20px 20px 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.icon-item2 {
	box-sizing: content-box;
	margin: 0 auto;
	box-shadow: 0px 0px 45px 35px rgba(1, 0, 0, 0.08);
	padding:20px 20px 20px 20px;
	margin-top: 30px;
	margin-bottom: 60px;
}
.browser {
    padding-left: 100px;
}
.box1 {
flex-direction: column;
}
.compl {
    padding-right: 0px;
}
.here {
	max-width: 100px;
}
.progrr {
    max-width: 120px;
}
.template {
    background-image: none;
    margin: 0 auto;
    max-width: 2000px;
}
.hh17 {
    max-width: 640px;
    padding-bottom: 20px;
}
.h18 {
padding: 0 0 20px 100px;
 max-width: 270px;
}
.h17 {
padding: 0 0 20px 100px;
 max-width: 270px;
}
.hhh17 {

padding: 0 0 20px 100px;
 max-width: 270px;
}
.hh18 {
padding: 0 0 20px 100px;
 max-width: 270px;
}
.plan {
flex-direction: column;	
}
.h20 {
    padding-bottom: 60px;
}
.bronze {
	box-sizing: content-box;
	margin: 0 auto;
	margin-bottom: 30px;
}
.silver {
	box-sizing: content-box;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
} 
.gold{
	box-sizing: content-box;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;	
}
.h25 {
    max-width: 640px;
}
.loremtwo {
    padding-bottom: 100px;
}
.plan {
    padding-bottom: 40px;
}
}
@media (max-width: 900px){
	.h2 {
    font-family: Myriad Pro;
    color: #ffffff;
    font-weight: 400;
    font-size: 30.5px;
    padding-top: 60px;
}
.h3 {
    font-family: Myriad Pro;
    color: #8492af;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
}
.h4 {
    padding: 50px 0 20px 0;
}
.hh1{
 display: none;
}
.hh2 {
 display: none;
}
.icon-item {
    margin-top: 60px;
}
.h8 {
    padding-top: 30px;
        font-size: 30px;
}
.h9 {
    max-width: 470px;
}
.h10 {
    max-width: 470px;
}
.h11 {
        font-size: 30px;
}
.box {
    padding: 20px 330px 0 100px;
}
.h16 {
        font-size: 30px;
        padding-top: 30px;
    padding-bottom: 30px;
}
.hh17 {
    max-width: 470px;
}
.loremtwo {
    padding-bottom: 50px;
}
.h20 {
        font-size: 30px;
}
.h25 {
    max-width: 440px;
}
.h26::after {
display: none;
}
.h26::before {
display: none;
}
.h19 {
    padding-left: 20px;
}
.h19 {

    min-width: 150px;
}
/*.img {
    background-image: none;
    font-size: 25px;
}
.h27 {
    background-image: none;
    font-size: 25px;
    color: #8492af;
}*/
}
